## Copyright 2026 Tom Keffer
## Distributed under terms of GPLv3.  See LICENSE.txt for your rights.
#errorCatcher Echo
#encoding UTF-8
<!DOCTYPE html>
<html lang="$lang">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>About $climate.station_id</title>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="seasons.css"/>

    <script src="seasons.js"></script>
    <style>

#climate_widget th {
  font-weight: normal;
  text-align: left;
}
#climate_widget .widget_title {
  margin-bottom: 25px;
}
#climate_widget .label {
  font-size: 100%;
}
#climate_widget .data {
  font-size: 100%;
  }
.climate_body {
    margin-bottom: 30px;
    float: left;
}
    </style>
  </head>

  <body>
    #include "titlebar.inc"

    <div id="contents">
      <p><a href="index.html">&#10096; $gettext("Current Conditions")</a></p>

      <div id="widget_group">
        <div id="climate_widget" class="widget">
          <div class="widget_title">
            $gettext("Climate data")
          </div>
          <div class="widget_contents">
            <div id="climate_details">
              <div class="climate_body">
                <table class="climate">
                  <tr><th>$gettext("About") $climate.station_id</th><th></th></tr>
                  <tr>
                    <td class="label">$gettext("Name")</td>
                    <td class="data">$climate.name</td>
                  </tr>
                  <tr>
                    <td class="label">$gettext("Location")</td>
                    <td class="data">$climate.location</td>
                  </tr>
                  <tr>
                    <td class="label">$gettext("Latitude")</td>
                    <td class="data">$climate.latitude[0]&deg; $climate.latitude[1]' $climate.latitude[2]</td>
                  </tr>
                  <tr>
                    <td class="label">$gettext("Longitude")</td>
                    <td class="data">$climate.longitude[0]&deg; $climate.longitude[1]' $climate.longitude[2]</td>
                  </tr>
                  <tr>
                    <td class="label">$gettext("Altitude")</td>
                    <td class="data">$climate.altitude</td>
                  </tr>
                </table>
              </div>
              <div class="climate_body" style="margin-left:30px;">
                <table class="climate">
                  <tr><th>$gettext("Temperatures")</th><th></th></tr>
                  <tr>
                    <td class="label">$gettext("Maximum high")</td>
                    <td class="data">$climate.day.outTemp.high.max ($climate.day.outTemp.high.maxtime)</td>
                  </tr>
                  <tr>
                    <td class="label">$gettext("Minimum high")</td>
                    <td class="data">$climate.day.outTemp.high.min ($climate.day.outTemp.high.mintime)</td>
                  </tr>
                  <tr>
                    <td class="label">$gettext("Average high")</td>
                    <td class="data">$climate.day.outTemp.high.avg</td>
                  </tr>
                  <tr>
                    <td class="label">$gettext("Maximum low")</td>
                    <td class="data">$climate.day.outTemp.low.max ($climate.day.outTemp.low.maxtime)</td>
                  </tr>
                  <tr>
                    <td class="label">$gettext("Minimum low")</td>
                    <td class="data">$climate.day.outTemp.low.min ($climate.day.outTemp.low.mintime)</td>
                  </tr>
                  <tr>
                    <td class="label">$gettext("Average low")</td>
                    <td class="data">$climate.day.outTemp.low.avg</td>
                  </tr>
                </table>
                <table class="climate" style="margin-top:30px;">
                  <tr><th>$gettext("Precipitation")</th><th></th></tr>
                  <tr>
                    <td class="label">$gettext("Maximum")</td>
                    <td class="data">$climate.day.precip.sum.max ($climate.day.precip.sum.maxtime)</td>
                  </tr>
                  <tr>
                    <td class="label">$gettext("Minimum")</td>
                    <td class="data">$climate.day.precip.sum.min ($climate.day.precip.sum.mintime)</td>
                  </tr>
                  <tr>
                    <td class="label">$gettext("Average")</td>
                    <td class="data">$climate.day.precip.sum.avg</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
